  <!-- toolbar with menu button -->
  <ion-header>
    <ion-toolbar color="maincolor">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Hola Mundo</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información personal</ion-card-title>
      <ion-card-subtitle>Llena los siguientes campos</ion-card-subtitle>
    </ion-card-header>
  
    <!-- Input text -->
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Ingresa tu nombre:</ion-label>
        <ion-input [(ngModel)] = "name"></ion-input>
      </ion-item>
      
      <!-- Radio buton selector -->
      <ion-list>
        <ion-radio-group value="Masculino" [(ngModel)] = "gender">
          <ion-list-header>
            <ion-label>Selecciona tu sexo:</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Masculino</ion-label>
            <ion-radio slot="start" value="Masculino"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Femenino</ion-label>
            <ion-radio slot="start" value="Femenino"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>


      <!-- Selector age -->
      <ion-list>
        <!-- <ion-list-header>
          <ion-label>
            Edad:
          </ion-label>
        </ion-list-header> -->
      
        <ion-item>
          <ion-label>Tu edad es:</ion-label>
          <ion-select okText="Aceptar" cancelText="Cancelar" [(ngModel)] = "age">
            <ion-select-option value="Menor a 20 años">Menor a 20 años</ion-select-option>
            <ion-select-option value="Entre 20 y 29 años">Entre 20 y 29 años</ion-select-option>
            <ion-select-option value="Entre 40 y 39 años">Entre 40 y 39 años</ion-select-option>
            <ion-select-option value="40 años o más">40 años o más</ion-select-option>
          </ion-select>
        </ion-item>
      
      </ion-list>
      <div class="centrado">
        <!-- Buttons action -->
        <ion-button color="danger" (click) = "processData()" class="margen">Enviar</ion-button>
        <ion-button color="secondary" (click) = "cleanData()"class="margen">Limpiar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
