<ion-header>
  <ion-toolbar color="maincolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Breve reseña de:</ion-card-subtitle>
      <ion-card-title>Luis Javier Rangel Deantes</ion-card-title>
    </ion-card-header>
  
    <ion-card-content  class="ion-text-justify">
      Estudiante de la mestría en Redes y Sistemas Integrados del Centro de Estudios <strong>LANIA</strong>. Originario de Ciudad Madero, Tamaulipas.
      Actualmente cursando la materia de <strong>Tópicos Selectos en Aplicaciones Distribuidas Móviles</strong>, la cual es impartida por el profesor <strong>Mtro. Carlos Francisco Domínguez Domínguez</strong>, donde nos encontramos trabajando con el framework de <strong>Ionic</strong> para el desarrollo de aplicaciones multiplataforma.
      <hr>
      <img src="../../../assets/ionic-app-development.jpg" alt="Ionic Development" sizes="100px">
    </ion-card-content>
  </ion-card>
</ion-content>
