.centrado{
    text-align: center;
}

.margen{
    margin: 10px;
}

ion-toolbar{
    background-color: var(--ion-color-maincolor);
}

ion-content{
    --background-color: rgb(80, 130, 158);
    --color: rgb(255, 0, 0) !important;
}

ion-card {
    background-color: rgb(223, 229, 233) !important;
}

ion-card-title{
    color: rgb(255, 123, 0) !important;
    --background-color: rgb(222, 143, 224) !important;
}

ion-label, ion-input, ion-item{
    color: rgb(26, 102, 89);
}