  <!-- toolbar with menu button -->
  <ion-header>
    <ion-toolbar color="maincolor">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Sensores</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <!-- Button GPS -->
  <!-- <ion-button shape="round" (click)="goToPage(1)">
    <ion-icon slot="start" name="compass"></ion-icon>
    GPS
  </ion-button> -->
  <!-- Button acelerometer -->
  <!-- <ion-button shape="round" (click)="goToPage(2)">
    <ion-icon slot="start" name="speedometer"></ion-icon>
    Acelerometro
  </ion-button> -->

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Sensores</ion-card-subtitle>
      <ion-card-title>Acceder a sensores del dispositivo</ion-card-title>
    </ion-card-header>
  
    <ion-item (click)="goToPage(1)">
      <ion-icon name="compass" slot="start"></ion-icon>
      <ion-label>Acceder a datos de:</ion-label>
      <!-- Button GPS -->
      <ion-button shape="round" fill="outline" (click)="goToPage(1)">
        <ion-icon slot="start" name="location"></ion-icon>
        GPS
      </ion-button>
    </ion-item>

    <ion-item (click)="goToPage(2)">
      <ion-icon name="speedometer" slot="start"></ion-icon>
      <ion-label>Acceder a datos de:</ion-label>
      <!-- Button acelerometer -->
      <ion-button shape="round" fill="outline" (click)="goToPage(2)">
        <ion-icon slot="start" name="timer"></ion-icon>
        Acelerómetro
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>
