<ion-header>
  <ion-toolbar color="maincolor">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" [routerLink]="['/sensores']" ></ion-icon>
    </ion-buttons>
    <ion-title>GPS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map style="height: 100%; width: 100%;" id="map"></div>
</ion-content>
