ion-toolbar{
    background-color: var(--ion-color-maincolor);
}

ion-item {
    --color: var(--ion-color-selecteditem);
    background-color: var(--ion-color-maincolor);
}

ion-list{
    background-color: rgb(114, 128, 150)
}
ion-list-header{
    color: rgb(235, 207, 171);
}
p {
    color: rgb(80, 156, 109);
}