  <!-- toolbar with menu button -->
  <ion-header>
    <ion-toolbar color="maincolor">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Contactos</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h5>Lista de Contactos</h5> 
    </ion-list-header>

    <div *ngFor="let contact of contacts">
      <ion-item (click) = "showInfo(contact)">
        <ion-avatar slot="start">
          <img [src]="contact.urlImage">
          <!-- <ion-icon name="person"></ion-icon> -->
        </ion-avatar>
        <ion-label>
          <h2>{{ contact.name }}</h2>
          <h3>{{ contact.email }}</h3>
          <p>{{ contact.phone }}</p>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
