//Color fondo del menu elemento seleciconado
ion-menu.md ion-item.selected {
    --background:rgba(var(--ion-color-selecteditem-rgb), 0.14);
}
//Color del icono del elemento seleccionado
ion-menu.md ion-item.selected ion-icon {
    color:var(--ion-color-selecteditem);
}
//Color texto elemento seleccionado
ion-item.selected {
    --color: var(--ion-color-selecteditem);
}
//Color icono elemento menu
ion-menu.md ion-item ion-icon {
    color:var(--ion-color-selecteditem);
}
//Color texto del elemento menu
ion-item {
    --color: var(--ion-color-selecteditem);
}
//Color de fondo de titulo de menu
ion-title {
    background-color: var(--ion-color-maincolor);
}
//Color de titulo de menu
ion-title {
    --color: var(--ion-color-primary-contrast);
}