<ion-app>
  <!-- Menu -->
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" side="start" menuId="mainMenu">
      <ion-content>
        <ion-list id="menu-list">
          <!-- <ion-list-header>Lania</ion-list-header>
          <ion-note>Tópicos selectos en Aplicaciones Distribuidas Móviles</ion-note> -->
          <ion-title>LANIA</ion-title>
          <ion-title size="small">Tópicos Selectos en Aplicaciones Distribuidas Móviles</ion-title>
          <ion-menu-toggle auto-hide="false">
            <!-- opcion bienvenida -->
            <ion-item routerDirection="root" [routerLink]="['/bienvenida']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Bienvenida</ion-label>
            </ion-item>
            <!-- opcion hola mundo -->
            <ion-item routerDirection="root" [routerLink]="['/helloworld']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="earth"slot="start"></ion-icon>
              <ion-label>Hola Mundo</ion-label>
            </ion-item>
            <!-- opcion contactos -->
            <ion-item routerDirection="root" [routerLink]="['/contactos']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>Mis contactos</ion-label>
            </ion-item>
            <!-- opcion sensores -->
            <ion-item routerDirection="root" [routerLink]="['/sensores']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="location"></ion-icon>
              <ion-label>Sensores</ion-label>
            </ion-item>
            <!-- opcion calificaciones -->
            <ion-item routerDirection="root" [routerLink]="['/calificaciones']" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="school"></ion-icon>
              <ion-label>Calificaciones</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <!-- boton Salir -->
        <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)='logOutConfirm()'>
          <ion-fab-button color="danger">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-content>
    </ion-menu>
    <!-- End Menu -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
