<ion-header>
  <ion-toolbar color="maincolor">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" [routerLink]="['/sensores']" ></ion-icon>
    </ion-buttons>
    <ion-title>Acelerómetro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Acelerómetro</ion-card-subtitle>
      <ion-card-title>Datos del dispositivo:</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-icon name="speedometer" slot="start"></ion-icon>
      <ion-label><strong>Eje x:</strong> {{ Xaxis }}</ion-label>
    </ion-item>
  
    <ion-item >
      <ion-icon name="speedometer" slot="start"></ion-icon>
      <ion-label><strong>Eje y:</strong> {{ Yaxis }}</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="speedometer" slot="start"></ion-icon>
      <ion-label><strong>Eje z:</strong> {{ Zaxis }}</ion-label>
    </ion-item>
  </ion-card>
  <div class="centrado">
    <ion-button shape="round" color="success" (click)="getData()" [disabled]="start">Iniciar</ion-button>
    <ion-button shape="round" color="danger" (click)="stopData()" [disabled]="!start">Detener</ion-button>
  </div>
</ion-content>
