  <!-- toolbar with menu button -->
  <ion-header>
    <ion-toolbar color="maincolor">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Calificaciones</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card vertical="center" *ngIf="ratings.length == 0">
    <ion-card-header>
      <ion-card-title>Sin datos de Calificaciones</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-justify">
      No hay ningun registro de calificaciones. Use el botón de la esquina inferior derecha para agregar calificaciones.
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="ratings.length > 0">
    <ion-list-header>
      <h5>Lista de Calificaciones</h5> 
    </ion-list-header>

    <div *ngFor="let rating of ratings">
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon name="ribbon"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>Semana: {{rating.week}}</h2>
          <h3>Actividad: {{rating.activity}}</h3>
          <p>Calificación: {{rating.rating}}</p>
        </ion-label>
        <ion-button color="danger" shape="round" fill="outline" (click)='delteRecordConfirm(rating)'>
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
  </ion-list>
  <!-- boton agregar -->
  <ion-fab vertical="bottom" [horizontal]="btn_position" slot="fixed" (click)='showInputRating()'>
    <ion-fab-button  color='success'>
      <ion-icon name="add-circle-outline"></ion-icon>
      <!-- <ion-icon name="add-outline"></ion-icon> -->
    </ion-fab-button>
  </ion-fab>
</ion-content>
